<dx-data-grid
  id="gridContainer"
  [dataSource]="customers"
  [showBorders]="true"
  (onToolbarPreparing)="onToolbarPreparing($event)"
>
  <dxi-data-grid-column
    *ngFor="let col of columns"
    [visibleIndex]="col.index"
    [dataField]="col.dataField"
    [(visible)]="col.visible"
  >
  </dxi-data-grid-column>
</dx-data-grid>

<app-column-chooser
  [(visible)]="isColumnChooserVisible"
  [container]="'#gridContainer'"
  [button]="'#myColumnChooser'"
  [columns]="columns"
>
</app-column-chooser>
